@model DeployApplication.Models.Product

@{
    ViewBag.Title = "EditProduct";
}

<h2>Edycja danych produktu</h2>
<br />
@Html.Label("Zmień dane produktu: ")
@using (Html.BeginForm("EditProduct", "Products", FormMethod.Post,
    new { enctype = "multipart/form-data"}))
{
    @Html.HiddenFor(model => model.Id)
    <table>
        <tr>
            <td>@Html.LabelFor(p => p.Name)</td>
            <td>@Html.EditorFor(p => p.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Description)</td>
            <td>@Html.TextAreaFor(p => p.Description)</td>
        </tr>
        <tr>
            <td>Zmień zdjęcie:</td>
            <td><input type="file" name="uploadFile" id="uploadFile" /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Price)</td>
            <td>@Html.EditorFor(p => p.Price)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Zmień" /></td>
        </tr>
    </table>    
}
<br />

